.orejime {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider{
    background-color: #e30613;
}

.orejime-Button {
    background-color: #e30613;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.orejime-Button:hover {
    background-color: #bb0510;
}

.orejime-Button--decline {
    background-color: #6c757d;
}

.orejime-Button--decline:hover {
    background-color: #545b62;
}
.orejime-Modal-poweredByLink{
    display: none;
}