
@media screen and (min-width: 992px) {
    .social-container {
        right: 60px !important;
    }
    .language-container {
        right: 36px !important;
    }
}
.social-container, .language-container{
    display: block;
    position: absolute;
    top: 12px;
    right: 0px;
}
.language-container{
    top: 17px;

}
.language-list{
    margin-left: -10px;
}

.language-list li a {
    transition: transform 0.1s ease-out;
}

.language-list li a:hover {
    transform: scale(1.4);
}

.site-info a, .site-info a:hover, .site-info a:visited {
    color: #000000 !important;
}